.full-page{
    height: 100%;
    width: 100%;
}

.not-blank{
    background-color: aliceblue;
    z-index: 5;
}
.absolute{
    position:absolute;
}

.mid{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}
.lds-grid {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
  }
  .lds-grid div {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(9, 143, 177);
    animation: lds-grid 2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 83px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 158px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 83px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 83px;
    left: 83px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 83px;
    left: 158px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 158px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 158px;
    left: 83px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 158px;
    left: 158px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }
